$main-color: rgba(230, 46, 0, 0.8);

$txt-hover-header-color: rgba(255, 92, 51, 1);
$txt-hover-header-bg: rgba(0, 0, 51, 0.8);

$txt-selection-header-color: rgba(255, 92, 51, 1);
$txt-selection-header-bg: rgba(0, 170, 255, 0.4);

$txt-color: rgba(51, 51, 77, 1);
$txt-hover-color: rgba(230, 204, 255, 1);
$txt-hover-bg: rgba(115, 107, 117, 1);

$list-bg: rgba(115, 107, 117, 1);
$list-hover-bg: rgba(51, 51, 77, 0.7);

$text-shadow: 0.2rem 0.2rem 0.2rem rgba(#000, 1);
$text-shadow-white: 0.2rem 0.2rem 0.2rem rgba(#ffffff, 1);
@mixin main-background-color($deg) {
  background: lightgrey
    linear-gradient($deg, rgba(202, 173, 173, 0.2), rgba(77, 166, 255, 0.5) 20vh 60vh, rgba(255, 102, 0, 0.2));
  background-attachment: no-repeat;
  background-size: cover;
}

@mixin main-background-color-not-rotate(){
  background: lightgrey
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(77, 166, 255, 0.5) 20vh 60vh, rgba(255, 102, 0, 0.2));
  background-attachment: no-repeat;
  background-size: cover;
}

@mixin main-background-layer {
  background: rgba(211, 211, 211, 0.2);
  background-attachment: fixed;
}

@mixin main-hover-button-bgcolor($deg) {
  background-color: rgba(255, 204, 153, 1);
  background-image: linear-gradient($deg, rgba(199, 32, 32, 0.1), rgba(77, 166, 255, 0.5), rgba(0, 102, 255, 0.2));
}

@mixin main-txt-color($deg) {
  color: #ffcc99;
  color: linear-gradient($deg, rgba(255, 26, 198, 0.2), rgba(204, 204, 179, 1), rgba(0, 102, 255, 0.6));
}

// /*********************************************************
// *
// *
// *
// **********************************************************/

// @font-face {
//   font-family: 'Titillium Web Regular';
//   src: url('/assets/fonts/TitilliumWeb-Regular.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Titillium Web Black';
//   src: url('/assets/fonts/TitilliumWeb-Black.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Titillium Web Bold';
//   src: url('/assets/fonts/TitilliumWeb-Bold.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Titillium Web BoldItalic';
//   src: url('/assets/fonts/TitilliumWeb-BoldItalic.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Titillium Web ExtraLight';
//   src: url('/assets/fonts/TitilliumWeb-ExtraLight.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Titillium Web Italic';
//   src: url('/assets/fonts/TitilliumWeb-Italic.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Titillium Web Light';
//   src: url('/assets/fonts/TitilliumWeb-Light.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Titillium Web LightItalic';
//   src: url('/assets/fonts/TitilliumWeb-LightItalic.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Titillium Web SemiBold';
//   src: url('/assets/fonts/TitilliumWeb-SemiBold.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Titillium Web SemiBoldItalic';
//   src: url('/assets/fonts/TitilliumWeb-SemiBoldItalic.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: '.VnBahamasBH';
//   src: url('/assets/fonts/.VnBahamasBH.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// /*********************************************************
// *
// *
// *
// **********************************************************/
