div[chckLoc="Client"] {
    .btn {
        &:hover {
            @include main-background-color(30deg);
            color: $main-color(30deg);
        }
    }

    //end .btn

    .btn-bars {
        box-sizing: border-box;
        border: 1px white solid;
    }

    .btn-hover-animate {
        display: inline-flex;
        justify-content: center;
        align-items: baseline;
        margin: 5px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 2rem;
        color: #ffffff;
        background-color: rgba(#33334d, 1);
        border: 0.05rem rgba(#d699ff, 0.5) solid;
        box-sizing: border-box;
        overflow: hidden;
        transition: 0.7s;

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 200px;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 1;
            filter: blur(30px);
            transform: translateX(-130px) skewX(-15deg);
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100px;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 1;
            filter: blur(30px);
            transform: translate(-130px) scalex(-15deg);
        }

        &:hover {
            cursor: pointer;
            color: #33334d;
            text-shadow: 0.1rem 0.1rem 0.15rem #300d2b;
            box-shadow: 0.4rem 0.6rem 0.3rem #33334d;
            background: #ffffff;
            border-color: #33334d;
            // i{
            //     color: black;
            // }
        }

        &:focus {
            outline: none;
        }

        &:active {
            box-shadow: none;
            color: $main-color;
            filter: brightness(0.9);
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            background: rgba(255, 255, 255, 1);
            width: 100px;
            left: 0;
            top: 0;
            filter: blur(30px);
            transform: translateX(-130px) skewX(-15deg);
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 50px;
            left: 30px;
            top: 0;
            filter: blur(30px);
            transform: translate(-100px) scaleX(-15deg);
        }

        &:hover:before {
            transform: translateX(300px) skewX(-15deg);
            transition: 1.5s;
        }

        &:hover:after {
            transform: translateX(300px) skewX(-15deg);
            transition: 1.5s;
        }
    }
}
