div[chckLoc="Client"] {
    a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
            text-decoration: none;
        }
    }

    button {
        // position: relative;
        border: none;
        transition: 0.1s;
        box-shadow: 0.15rem 0.15rem 0.2rem #000;

        &:active {
            color: #fff;
            background: #00004d;
            box-shadow: 0.2rem 0.2rem 0.2rem #fff;
        }

        &[color="primary"] {
            background: lightgreen;
        }

        &[color="warn"] {
            background: orangered;
        }

        &[color="error"] {
            background: red;
        }

        &[color="submit"] {
            background: lightskyblue;
        }
    }

    p,
    span {
        color: $txt-color;

        &::selection {
            color: $txt-hover-color;
            background: $txt-hover-bg;
        }

        &:-moz-selection {
            color: $txt-hover-color;
            background: $txt-hover-bg;
        }
    }

    select {
        border: none;
        box-shadow: none;
        -webkit-appearance: none; //OPERA: Remove drop downlist arrow
        -moz-appearance: none; //FIREFOX:  Remove drop downlist arrow
        text-indent: 1px;
        text-overflow: "";
    }

    table {
        width: 100%;
        // th {
        //     // padding: 10px !important;
        //     border-right: 1px solid #000;
        // }
        // td {
        //     // margin: 10px !important;
        //     padding: 10px !important;
        // }
    }

    .non-selectable {
        & {
            -webkit-touch-callout: none;
            /* iOS Safari */
            -webkit-user-select: none;
            /* Safari */
            -khtml-user-select: none;
            /* Konqueror HTML */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently supported by Chrome and Opera */
        }
    }

    .mask {
        transition: 0.3s;

        &:before {
            content: "";
            z-index: -2;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            @include main-background-color-not-rotate;
            background-attachment: fixed;
            filter: blur(5px) brightness(85%) opacity(0.6) grayscale(1);
            transition: 1s;
        }
    }

    .display-none {
        display: none;
    }

    .header {
        display: flex;
        flex-wrap: wrap;

        p,
        span {
            &::selection {
                background: $txt-selection-header-bg;
                color: $txt-selection-header-color;
            }
        }
    }

    .middle-vertical {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translate(0, -50%);
    }

    //Remove padding and margin of col bootstrap 4
    [class|="col-"] {
        padding: 0;
        margin: 0;
    }

    .container {
        margin: auto;
        overflow: hidden;
        // max-width: 90%;
        padding: 20px;
    }

    .sticking {
        background: rgba(#080808, 0.1);
    }

    .row-input {
        &.center {
            justify-content: center;
            display: flex;
        }

        margin: 2rem 0 0 0;
        position: relative;
        font-size: 1.5rem;

        label {
            color: #33334d;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            transition: 0.5s;
        }

        input {
            margin-bottom: 2rem;
            color: #fff;
            outline: none;
            width: 100%;
            border: none;
            border-bottom: 1px solid black;
            background: none;

            &:focus + label,
            &:valid + label {
                color: #000;
                top: -2rem;
                font-size: 1.5rem;

                &:after {
                    content: ":";
                }
            }
            &:not(:focus):invalid {
                &::placeholder {
                    color: transparent !important;
                }
                color: transparent !important;
            }

            &:invalid + label {
                color: red;
            }
        }
    }
}
