div[chckLoc="Client"] {
    nav {
        //declare variable for calculating the width of search-box when max-width = 550px
        $nav-height: 60px;
        $menu-width: 45px;
        $search-box-margin: 5px;
        $search-box-padding: 7px;
        $btn-search-edge: 36px;
        $btn-delete: 12px;
        //end declare
        margin: auto;
        padding: 0;
        overflow: hidden;
        height: $nav-height;
        background: rgba(#33334d, 0.5);
        width: 100%;

        &#navSticky {
            top: 0px !important;
            position: sticky !important;
        }

        #mask-bg {
            top: 0;
            left: 0;
            position: relative;

            &.mask {
                width: 100vw;
                height: 100vh;
                filter: brightness(140%) blur(10px);
                position: fixed;
                background: transparent;
                z-index: -1;
            }
        }

        //Search-box
        .search-box {
            box-sizing: border-box;
            display: inline-flex;
            float: right;
            background: #ffffff;
            -webkit-border-radius: 36px;
            -moz-border-radius: 36px;
            border-radius: 36px;
            margin: $search-box-margin;
            padding: $search-box-padding;
            .btn-search {
                margin-right: -0.5px;
                color: $main-color;
                float: right;
                width: $btn-search-edge;
                height: $btn-search-edge;
                border-radius: 18px;
                background: #33334d;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .txt-search {
                &::placeholder {
                    box-sizing: border-box;
                    color: #000000;
                    text-align: right;
                }
                // direction: rtl;
                border: none;
                background: none;
                outline: none;
                float: left;
                color: #000000;
                font-size: 1em;
                transition: 0.4s;
                line-height: 35px;
                width: 0px;
            } //end txt-search
            .btn-delete {
                display: none;
                cursor: none;
            }
            // &:hover {
            //   // Handle in base-css.js
            // }
            // &[state="default"] {
            //   // :not(:placeholder-shown){
            //   //     &.btn-delete, &.fa-times{
            //   //         cursor: default !important;
            //   //     }
            //   // }
            // }
            &[state="active"] {
                display: flex;
                border-radius: 0;
                transition: 2s;
                .txt-search {
                    transition: 1s;
                    width: 240px;
                    padding: 0 6px;
                    //temp-width makes txt-search have maximum width possible
                    $temp-width: calc(
                        100vw - #{$btn-search-edge} - #{$search-box-margin}* 2 -
                            #{$search-box-padding}* 2 - #{$menu-width} - #{$btn-delete} -
                            2.5rem
                    );
                    @media only screen and (max-width: 600px) {
                        transition-duration: 1s;
                        width: $temp-width;
                    }
                }
                .btn-search {
                    color: #d69dff;
                }
                .fa-times {
                    display: flex;
                    visibility: hidden;
                }
                .btn-delete {
                    background: transparent;
                    color: red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: default;
                }
            }
        } //end search-box

        #btn-nav-menu {
            float: left;
            width: $menu-width;
            height: $menu-width;
            margin: 6.5px;
            box-sizing: border-box;
            transition: 1s;
        }

        #panel-nav-menu {
            position: fixed;
            overflow: hidden;
            width: 0;
            max-width: 480px;
            height: 100vh;
            transition: 0.3s;
            top: 0px;
            left: -100vw;
            justify-content: center;
            align-content: center;
            &.panel-nav-menu-active {
                background: rgba(194, 194, 214, 1);
                @media only screen and (min-width: 480px) {
                    width: 40vw;
                }
                width: 80vw;
                top: 0px;
                left: 0px;
            }

            #copied-sub-nav {
                display: none;
                align-items: center;
                justify-content: center;
                &.show {
                    display: flex;
                }
                ul {
                    margin: 0;
                    padding: 0;
                    display: inline-flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    li {
                        list-style-type: none;
                        margin-left: -0.5rem; //for remove list-style-type

                        i {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }

            .menu-cate {
                overflow: hidden;
                list-style-type: none;
                padding: 10px 8px;
                justify-content: space-evenly;
                &:hover {
                    cursor: pointer;
                }
                &:target .menu-item {
                    max-height: 10em;
                }
                > a {
                    display: block;
                    padding: 16px 20px;
                    position: relative;
                    background: rgba(255, 255, 255, 1);
                    color: $txt-color;
                    text-align: left;
                    &:hover {
                        transition: 0s;
                        &:before {
                            background: $txt-hover-bg;
                        }
                        background: $txt-hover-header-bg;
                        color: $txt-hover-header-color;
                        font-weight: bold;
                    }
                    i {
                        margin: 0 15px 0 0;
                    }
                }
                .menu-item {
                    background: $list-bg;
                    overflow: hidden;
                    transition: max-height 0.3s;
                    max-height: 0;
                    a {
                        display: block;
                        padding: 16px 26px;
                        color: white;
                        font-size: 15px;
                        margin: 4px 0;
                        position: relative;
                        &:before {
                            content: "";
                            border-left: 10px $main-color solid;
                            position: absolute;
                            widows: 6px;
                            height: 100%;
                            background: $txt-hover-bg;
                            left: 0;
                            top: 0;
                            transition: 0.3s;
                            opacity: 0;
                        }
                        &:hover {
                            background: $list-hover-bg;
                            color: $txt-hover-color;
                            &:before {
                                opacity: 1;
                            }
                        }
                    }
                }
                .btn {
                    border-radius: 0;
                    border-top: 2px $main-color;
                    font-size: 20px;
                }
            }
            #btn-close-panel-nav-menu {
                max-width: 50%;
                justify-content: center;
                margin: 0 25%;
                @media only screen and (max-width: 380px) {
                    max-width: 100%;
                    width: 100vw;
                    margin: 2rem 0rem;
                }
            }
        } //End #nav-menu
    } //end nav
}
