div[chckLoc="Client"] {
    section {
        p {
            color: #ffffff;
        }
    }

    // Register
    #user-login-register-panel {
        height: 55rem;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        background: #c9c9c9;

        form {
            margin: 2rem;
            input {
                color: $main-color;
                font-size: 1.5rem;
            }
            h1 {
                margin: 3rem;
                justify-content: center;
                display: flex;
                font-size: 5rem;
                color: #ffffff;
                text-shadow: 0.2rem -0.2rem 0.2rem #000000;
                text-align: center;
                &::selection {
                    color: $main-color;
                    background: #2e9dc9;
                }
            }

            button {
                position: relative;
            }
            .content {
                position: relative;
                width: 90%;
                margin: 5%;
                filter: grayscale(0.2);
                .msg {
                    p {
                        font-size: 2rem;
                        color: rgb(219, 161, 161);
                        text-shadow: 0.1em 0.1rem 0.1rem #000;
                    }
                }
            }
        }
    }
}
