.btn {
    background: red;
    &:hover {
        color: white;
    }
}

.loading-shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-row {
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    &-right {
        display: flex;
        justify-content: flex-end;
    }

    > a {
        margin: 1rem;
    }
    > button {
        @extend .btn-hover-animate;
        margin: 1rem;
    }
}
