//* START   NAV *
#navSticky {
    top: 0px !important;
    position: sticky !important;
    $nav-height: 4rem;
    width: 100%;
    min-height: $nav-height;
    background: #33334d;
    color: #fff;
    z-index: 2;

    ul {
        list-style: none;
        width: 90%;
        min-height: $nav-height;
        margin: 0;
        justify-content: flex-end;
    }

    li {
        min-height: $nav-height;

        border-radius: 0px;
        border-right: 0.1rem solid #666699;
        &:hover {
            text-shadow: 0.1rem 0.1rem 0.2rem #002699;
            color: #090909;
            background: #ff0066;
            border-right: 0.1rem solid #000;
        }
    }

    a {
        padding: 0 2rem;
    }
}
//* END     NAV*
