div[chckLoc="Admin"] {

    //this css implemented from user template
    .panel-login {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-evenly;
        min-width: 30rem;
        min-height: 20rem;
        border: red 1px solid;
        border-radius: 1rem;
        box-shadow: 0 0 2rem #33334d;
        @include main-background-color(0deg);

        form {
            h1 {
                margin: 2rem;
                justify-content: center;
                display: flex;
                font-size: 2rem;
                color: #ffffff;
                text-shadow: 0.1rem -0.2rem 0.2rem #000000;
                text-align: center;
            }

            .content {
                position: relative;
                width: 90%;
                margin: 5%;
                filter: grayscale(0.2);

                .msg {
                    p {
                        font-size: 1.8rem;
                        color: #fff;
                        text-shadow: 0.1em 0.1rem 0.1rem #000;
                    }
                }
            }
        }
    }

    .h1-panel {
        text-transform: capitalize;
        margin: 2rem;
        padding: 1rem;
        border: 0.2rem solid #f01645;
        background: rgba(#090909, 0.1);
        font-size: 4rem;
        text-align: center;
        color: #33334d;
    }
}
